* {
  margin: 0;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

a:hover,
button:hover {
  cursor: pointer;
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.linkAsText {
  color: #a038b2;
  text-decoration: underline;
}

.linkAsButton {
  background-color: #c7d2e9;
  border: none;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.buttonPrimary {
  min-height: 44px;
  padding: 0 40px;

  color: white;
  background-color: #5d16d5;
  border: none;
  border-radius: 8px;
  font-size: 22px;
}

.text {
  display: grid;
  row-gap: 30px;

  font-size: 22px;
}

.skipLink {
  position: fixed;
  top: -100px;
  z-index: 1;
  transition: top 0.2s;

  min-width: 200px;
  height: 52px;
  padding: 0 20px;

  line-height: 52px;
  text-align: center;
}

.skipLink:focus-visible {
  top: 10px;
}

header {
  max-width: 1032px;
  margin: auto;
  padding: 32px 0 40px;
}

.logo {
  height: 100%;
}

header .actionsContainer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 75px;
}

header .actions {
  display: flex;
}

header input[type="search"] {
  width: 295px;
  height: 48px;

  background-color: #f9f9fb;
  border: #c7d2e9 solid 1px;
  border-radius: 26px;
}

.languages {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 8px;
}

.language {
  min-width: 64px;
  height: 52px;

  background-color: #c7d2e9;
  color: black;
  border-radius: 4px;
  font-size: 22px;
  line-height: 52px;
  text-align: center;
}

.auth {
  margin-inline-start: 40px;

  background: none;
  border: none;
}

nav.menu ul {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 40px;

  padding: 0;
  list-style: none;
}

nav.menu a {
  display: flex;
  align-items: center;
  height: 44px;

  font-size: 18px;
  color: black;
  text-decoration: none;
}

nav.menu a:hover {
  text-decoration: underline;
}

main {
  display: grid;
  row-gap: 120px;

  max-width: 1032px;
  margin: auto;
  padding: 0 0 160px;
}

main h2 {
  margin-bottom: 40px;

  font-size: 50px;
  font-weight: 400;
}

main .actionsList {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 40px;

  padding: 0;
  list-style: none;
}

.tab {
  height: 58px;
  padding: 16px 38px;

  font-size: 22px;
  background: none;
  border: none;
  text-decoration: underline;
}

.tab.active {
  border-radius: 8px;
  background-color: #c7d2e9;
  text-decoration: none;
}

.tabPanel {
  margin-top: 48px;
}

.tabPanel.hidden {
  display: none !important;
}

#buildingsTabPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 48px;
  row-gap: 70px;
}

#buildingsTabPanel h3 {
  margin-top: 24px;
  margin-bottom: 8px;

  font-size: 26px;
  font-weight: 400;
}

#buildingsTabPanel a {
  display: block;
  margin-top: 16px;

  color: black;
}

footer {
  background-color: #f1f1f1;
}

footer h2 {
  font-size: 24px;
  font-weight: 400;
}

footer .contentWrapper {
  display: flex;
  justify-content: space-between;

  max-width: 1032px;
  margin: auto;
  padding: 70px 0 100px;
}

footer .linksList {
  display: grid;
  margin-bottom: 16px;
  padding: 0;

  list-style: none;
}

footer .linksList a {
  display: block;
  min-height: 44px;

  line-height: 44px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

footer .linksList a:hover {
  text-decoration: underline;
}

footer h2 {
  margin-bottom: 12px;
}

footer .socialMediaList {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 24px;

  padding: 0;

  list-style: none;
}

footer form {
  display: flex;
  align-items: flex-start;
}

footer form .inputs {
  display: flex;
  flex-direction: column;
}

footer form input[type="email"] {
  height: 44px;
  background: none;
  border: none;
  border-bottom: black solid 1px;
}

footer form .checkboxLabel {
  display: flex;
  align-items: center;
  margin-top: 8px;

  height: 44px;
}

footer form input[type="checkbox"] {
  margin-inline-end: 8px;

  width: 24px;
  height: 24px;
}

footer .buttonPrimary {
  padding: 0 20px;

  font-size: 18px;
}
